crossbow {
  display:flex;
  /* Entering no flex-direction value is the same as 
  setting it to: flex-direction: row;
  */
}

crossbow {
  display: flex;
  flex-direction: row; /* Normal aim at East */
  flex-direction: column; /* Aiming at South */
}

crossbow {
    justify-content: flex-end; /* For aiming at the end of the row */
    justify-content: flex-start; /* For aiming at the start of the row */
    justify-content: space-around; /* For elements that have space around one another */
    justify-content: space-between; /* For elements that have space between one another */
}