/* Ch1 */
crossbow {
  display:flex;
  /* Entering no flex-direction value is the same as 
  setting it to: flex-direction: row;
  */
}

crossbow {
  display: flex;
  flex-direction: row; /* Normal aim at East */
  flex-direction: column; /* Aiming at South */
}

crossbow {
    justify-content: flex-end; /* For aiming at the end of the row */
    justify-content: flex-start; /* For aiming at the start of the row */
    justify-content: space-around; /* For elements that have space around one another */
    justify-content: space-between; /* For elements that have space between one another */
    justify-content: center; 
}

/* CH3 */

crossbow {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start; 
}

crossbow {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start; /* Aiming at the items on the far left */
  align-items: flex-end; /* Aiming at the items on the far right of and direction */
  align-items: stretch; /* Streaching the items along the blue lasers */
}

/* CH4 */

crossbow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.target:nth-of-type(2){
  align-self: flex-start; /* Targeting just one item which is closer to the upper or far right laser */
}